<!DOCTYPE html>
<html>

<head>
  <title>김상우 그리고 김서연, 결혼합니다</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="style.css" rel="stylesheet">

  <!-- <meta property="og:url" content="https://kaifer.github.io/wedding"> -->
  <meta property="og:title" content="김상우 그리고 김서연 - 결혼합니다">
  <meta property="og:description" content="2018년 7월 14일 오전 11시 - 파티오나인 채플홀">
  <meta property="og:image" content="<%= require('images/main.jpg') %>">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#EFB4E4">
  <meta name="msapplication-TileImage" content="ms-icon-310x310.png">
  <meta name="theme-color" content="#EFB4E4">
  <link rel="mask-icon" href="mask.svg" color="#EFB4E4">
</head>

<body>
  <section class="page-content">
    <div class="c-dday" id="c-dday"></div>
    <header class="c-header" id="c-header">
      <h1 class="c-header-text">김상우 그리고 김서연 - 결혼합니다</h1>
    </header>
    <nav class="c-nav" id="c-nav">
      <a class="nav-item" id="to-home" href="#home">
        <i class="material-icons">home</i>
        <i class="material-icons material-icons-fallback">&#xE88A;</i>
      </a>
      <a class="nav-item" id="to-words" href="#words">
        <i class="material-icons">subject</i>
        <i class="material-icons material-icons-fallback">&#xE8D2;</i>
      </a>
      <a class="nav-item" id="to-contact" href="#contact">
        <i class="material-icons">contact_phone</i>
        <i class="material-icons material-icons-fallback">&#xE0CF;</i>
      </a>
      <a class="nav-item" id="to-photo" href="#photo">
        <i class="material-icons">photo</i>
        <i class="material-icons material-icons-fallback">&#xE140;</i>
      </a>
      <a class="nav-item" id="to-direction" href="#direction">
        <i class="material-icons">map</i>
        <i class="material-icons material-icons-fallback">&#xE55B;</i>
      </a>
    </nav>
    <section id="home" class="c-section c-fadable home">
      <div class="home-text">
        <h1 class="home-title">김상우 그리고 김서연 - 결혼합니다</h1>
        <div class="home-hero"></div>
      </div>
      <div class="home-info">
        <p>2018.07.14 토요일 오전 11시</p>
        <p>파티오나인 5층 채플홀</p>
      </div>
    </section>
    <section id="words" class="c-section c-fadable words">
      <img class="words-hero" src="<%= require('images/main.jpg') %>" alt="초대합니다">
      <p class="words-text">
        설레는 마음으로 정중히 초대합니다.
      </p>
    </section>
    <section id="contact" class="c-section contact">
      <div class="bride-groom">
        <div class="bride-groom-item grooom">
          <div class="bride-groom-pic">
            <img src="<%= require('images/groom.jpg') %>" alt="신랑 사진">
          </div>
          <p class="family">
            김견수 정송희의 장남
          </p>
          <p class="name">
            김상우
          </p>
          <p class="contact">
            <a href="tel:010-9772-7213">
              <i class="material-icons">phone</i>
              <i class="material-icons material-icons-fallback">&#xE0CD;</i>
            </a>
            <a href="sms:010-9772-7213">
              <i class="material-icons">message</i>
              <i class="material-icons material-icons-fallback">&#xE0C9;</i>
            </a>
          </p>
          <div class="family-contact">
            <strong class="family-title">신랑측 혼주</strong>
            <p class="family-name">
              <strong>아버지</strong> 김견수</p>
            <p class="contact">
              <a href="tel:010-9870-1102">
                <i class="material-icons">phone</i>
                <i class="material-icons material-icons-fallback">&#xE0CD;</i>
              </a>
              <a href="sms:010-9870-1102">
                <i class="material-icons">message</i>
                <i class="material-icons material-icons-fallback">&#xE0C9;</i>
              </a>
            </p>
            <p class="family-name">
              <strong>어머니</strong> 정송희</p>
            <p class="contact">
              <a href="tel:010-9001-9503">
                <i class="material-icons">phone</i>
                <i class="material-icons material-icons-fallback">&#xE0CD;</i>
              </a>
              <a href="sms:010-9001-9503">
                <i class="material-icons">message</i>
                <i class="material-icons material-icons-fallback">&#xE0C9;</i>
              </a>
            </p>
          </div>
        </div>
        <div class="bride-groom-item bride">
          <div class="bride-groom-pic">
            <img src="<%= require('images/bride.jpg') %>" alt="신부 사진">
          </div>
          <p class="family">
            김용호 황형정의 장녀
          </p>
          <p class="name">
            김서연
          </p>
          <p class="contact">
            <a href="tel:010-2087-8232">
              <i class="material-icons">phone</i>
              <i class="material-icons material-icons-fallback">&#xE0CD;</i>
            </a>
            <a href="sms:010-2087-8232">
              <i class="material-icons">message</i>
              <i class="material-icons material-icons-fallback">&#xE0C9;</i>
            </a>
          </p>
          <div class="family-contact">
            <strong class="family-title">신부측 혼주</strong>
            <p class="family-name">
              <strong>아버지</strong> 김용호</p>
            <p class="contact">
              <a href="tel:010-5330-8232">
                <i class="material-icons">phone</i>
                <i class="material-icons material-icons-fallback">&#xE0CD;</i>
              </a>
              <a href="sms:010-5330-8232">
                <i class="material-icons">message</i>
                <i class="material-icons material-icons-fallback">&#xE0C9;</i>
              </a>
            </p>
            <p class="family-name">
              <strong>어머니</strong> 황형정</p>
            <p class="contact">
              <a href="tel:010-3735-5043">
                <i class="material-icons">phone</i>
                <i class="material-icons material-icons-fallback">&#xE0CD;</i>
              </a>
              <a href="sms:010-3735-5043">
                <i class="material-icons">message</i>
                <i class="material-icons material-icons-fallback">&#xE0C9;</i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="photo" class="c-section photo">
      <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url(<%= require('images/gallery/photo-01.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/gallery/photo-02.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/gallery/photo-03.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/gallery/photo-04.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/gallery/photo-05.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/gallery/photo-06.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/gallery/photo-07.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/gallery/photo-08.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/gallery/photo-09.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/gallery/photo-10.jpg') %>)"></div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-gray"></div>
        <div class="swiper-button-prev swiper-button-gray"></div>
      </div>
      <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url(<%= require('images/thumb/photo-01.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/thumb/photo-02.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/thumb/photo-03.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/thumb/photo-04.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/thumb/photo-05.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/thumb/photo-06.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/thumb/photo-07.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/thumb/photo-08.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/thumb/photo-09.jpg') %>)"></div>
          <div class="swiper-slide" style="background-image:url(<%= require('images/thumb/photo-10.jpg') %>)"></div>
        </div>
      </div>
    </section>
    <section id="direction" class="c-section direction">
      <header class="direction-header">
        <h2>찾아오시는 길</h2>
      </header>
      <figure class="direction-map-wrapper">
        <img class="direction-map" src="<%= require('images/map.svg') %>" alt="">
      </figure>
      <article class="direction-article">
        <div class="direction-webmap">
          <a class="direction-link" href="http://naver.me/5lbxH00G">
            <span class="icon icon-naver-map"></span>
            네이버 지도
          </a>
          <a class="direction-link" href="http://place.map.daum.net/12695537">
            <span class="icon icon-kakao-map"></span>
            다음 지도
          </a>
        </div>
        <p>
          <span class="text-block">서울특별시 강남구 논현로 742 (논현동 66-24)&nbsp;</span>
          <span class="text-block">파티오나인</span>
        </p>
        <h3>
          <i class="material-icons">directions_subway</i>
          <i class="material-icons material-icons-fallback">&#xE533;</i>
          지하철
        </h3>
        <p>
          <span class="text-block">7호선 학동역 8번출구</span>
          <span class="text-block">도보 7분, 파티오나인 셔틀버스 운행</span>
        </p>
        <h3>
          <i class="material-icons">directions_bus</i>
          <i class="material-icons material-icons-fallback">&#xE530;</i>
          버스 (강남 을지병원 정류장)
        </h3>
        <dl>
          <dt class="blue">간선</dt>
          <dd>147, 240, 463</dd>
        </dl>
        <dl>
          <dt class="green">지선</dt>
          <dd>4211</dd>
        </dl>
        <dl>
          <dt class="green">마을</dt>
          <dd>강남08</dd>
        </dl>
      </article>
    </section>
    <footer class="c-footer">
      <hr> 장소가 협소한 관계로 화환은 정중히 사양하겠습니다.
    </footer>
  </section>
</body>

</html>
