.words {
  margin: 0 auto;
  max-width: 40rem;
  padding: .75rem .75rem 8rem;
}

.words-hero {
  display: block;
  width: 100%;
  margin: 0 auto 2.5rem;
}

.words-text {
  margin-bottom: .5em;
  font-family: 'source-han-serif-korean', 'Noto Serif CJK KR', serif;
  line-height: 1.625;
  text-align: center;
}
